*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
    background-color: #faf8ed;
    width: 100vw;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.colorContainer{
    width: 100%;
    height: 80px;
    background-color: black;
}
@media only screen and (max-width: 600px) {
    .colorContainer{
        height: 40px;
    }
}
.colorPlaceWrapper {
    width: 100%;
    padding: 24px 24px 0 24px; 
    box-sizing: border-box;
}
.colorPlace{
    height: 100%;
    width: 100%;
}
.twoRows{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
}
.lastRows{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 8px 0;
}
.twoRows, .lastRows{
    gap: 12px;
    width: 100%;
}
.color1, .color2, .color3, .color4, .color5, .color6, .color6, .color7, .color8{
    grid-column: span 3;
    border-radius: 8px;
    padding: 12px;
    color: #C0C0C0;
    width: auto;
}
.color9, .color10{
    grid-column: span 6;
    border-radius: 8px;
    padding: 12px;
    color: #C0C0C0;
    width: 100%;
}
.colorName{
    margin-bottom: 8px;
}
.color1{
    background-color: #D6E6F2;
    color: #333333;
}
.color2{
    background-color: #0047AB;
}
.color3{
    background-color: #0F52BA;
}
.color4{
    background-color: #000080;
}
.color5{
    background-color: #6787B7;
}
.color6{
    background-color: #50C878;
    color: #333333;
}
.color7{
    background-color: #046307;
}
.color8{
    background-color: #20603D;
}
.color9{
    background-color: #C0C0C0;    
    color: #333333;
}
.explanation{
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.imag{
    width: auto;
    height: 100%;
}
h4{
    margin-bottom: 16px;
}